<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox~ Products</title>
    <link rel="icon" href="../../assets/img/fox.png" type="fox">
    <link rel="stylesheet" href="../../assets/css/nav.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/form.css">
</head>
<body>
    <nav>
        <a href="../../views/home.html"><img class="logo" src="../../assets/img/fox.png" alt="logo"></a>
        <p  class="name">Fox~</p>
        <span>Computer Company</span>
            <ul class="navbar">
                <li>
                    <a href="../../backend/views/categories.html">Create CATEGORY</a>
                </li>
                <li>
                    <a href="../../backend/views/products.html">Create PRODUCT</a>
                    
                </li>
            </ul>
    </nav>
    <main>
        <section class="global-container">
            <div class="text-form-container">
                <h1 class="form-title">Create PRODUCT</h1>
                <div class="form-container">
                    <form action="">
                        <label for="">Product name:</label>
                        <input type="name" required minlength="3" maxlength="50">
    
                        <label for="">Image:</label>
                        <input type="file" required>
    
                        <label for="">Description:</label>
                        <input type="name" required minlength="3" maxlength="250">
    
                        <label for="">Price:</label>
                        <input type="number" required>
        
                        <div class="button-container">
                            <button class="cancel-button button" type="reset">Cancel</button>
                            <button class="submit-button button" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <p class="my-name">Mailen Aldana Catalini</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="contact-logo"> 
             <a href="../../views/home.html"> <img class="logo" src="../../assets/img/fox.png" alt="logo"></a>
            
             <p  class="name">Fox~</p>
             <span>Computer Company</span></div>
         <div class="contact">
             <h4>CONTACT :</h4>
             <p>
                 <img class="img-contact" src="../../assets/img/telefono.png" alt="phone">
                 Phone: 123-456-789
             </p>
             <p>
                 <img class="img-contact" src="../../assets/img/correo.png" alt="mail">
                 Email: info@empresa.com
             </p>
             <p>
                 <img class="img-contact" src="../../assets/img/direccion2.png" alt="address">
                 Address: Calle Principal #123, Ciudad
             </p>
         </div>
     </footer>
</body>
</html>