<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fox~ Computer Company</title>
    <link rel="icon" href="../assets/img/fox.png" type="fox">
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/section.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
</head>
<body>
    <nav>
        <a href="../views/home.html"><img class="logo" src="../assets/img/fox.png" alt="logo"></a>
        <p  class="name">Fox~</p>
        <span>Computer Company</span>
            <ul class="navbar">
                <li>
                    <a href="../backend/views/categories.html">Create CATEGORY</a>
                </li>
                <li>
                    <a href="../backend/views/products.html">Create PRODUCT</a>
                    
                </li>
            </ul>
    </nav>

    <header>
        <div class="header-info">
            <h1>Soluciones Tecnológicas</h1>
            <p>En nuestra empresa de computación, nos dedicamos a ofrecer una amplia gama de productos, trabajamos con los principales fabricantes y nos aseguramos de que nuestros productos cumplan con los más altos estándares de rendimiento y durabilidad.
            </p>
            <a href="#Conoce-Mas"> <button>Conocé más!</button></a>
           
        </div>
        <div class="header-img">
            <img src="../assets/img/software-engineering.jpeg" alt="oftware-engineering.jpeg" alt="">
        </div>
        </div>
    </header>

    <section>
        <div class="solutions">
            <h2 id="Conoce-Mas">
                Soluciones adaptadas a tus <br> necesidades
            </h2>
            <p class="description">Desde hace 20 años brindamos tecnologías y servicios de excelencia a empresas que buscan disminuir costos de operación así como  <br> minimizar errores y riesgos.
            </p>

            <div class="services">
                <img src="../assets/img/maletin.png" alt="maletin">
                <div class="services-text">
                    <h3>Consultoría</h3>
                    <p>Te asesoramos de manera personalizada, analizando las distintas alternativas en tecnologías de la información, que te permitan maximizar los recursos tecnológicos de tu empresa.</p>
                </div>
            </div>
            <div class="services">
                <img src="../assets/img/config.png" alt="config">
                <div class="services-text">
                    <h3>Implementación</h3>
                    <p>Colaboramos en la implementación de herramientas, metodologías y soluciones que te permitan adoptar el cambio con éxito, a través de procesos sencillos y seguros.</p>
                </div>   
            </div>
            <div class="services">
                <img src="../assets/img/soporte.png" alt="support">
                <div class="services-text">
                    <h3>Soporte</h3>
                    <p>Ponemos a disposición nuestra estructura de soporte, gestión y operación, para el control y maximización de la capacidad operativa de tu plataforma tecnológica.</p>
                </div>   
            </div>
        </div>
    </section>

    <footer class="footer">
       <div class="contact-logo"> 
            <a href="./home.html"> <img class="logo" src="../assets/img/fox.png" alt="logo"></a>
           
            <p  class="name">Fox~</p>
            <span>Computer Company</span></div>
        <div class="contact">
            <h4>CONTACT :</h4>
            <p>
                <img class="img-contact" src="../assets/img/telefono.png" alt="phone">
                Phone: 123-456-789
            </p>
            <p>
                <img class="img-contact" src="../assets/img/correo.png" alt="mail">
                Email: info@empresa.com
            </p>
            <p>
                <img class="img-contact" src="../assets/img/direccion2.png" alt="address">
                Address: Calle Principal #123, Ciudad
            </p>
        </div>
    </footer>
</body>
</html>

